target/
!.mvn/wrapper/maven-wrapper.jar
logs
work
dist
tmp
data
.DS_Store
.env
conf/.*env
LOG_HOME_IS_UNDEFINED
CATALINA_BASE_IS_UNDEFINED

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.gitlab-ci.yml

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/
/docker/compose/mysql/
/docker/compose/nginx/conf.d
/docker/compose/nginx/logs
/docker/compose/redis/
/docker/compose/gm/data/
/docker/compose/gm/logs/
/docker/compose/gm/plugins/
/docker/compose/gm/tmp/
/docker/compose/gm/conf/.priv.env
