/* stylelint-disable selector-class-pattern */
.impowerBox .qrcode {
  width: 250px;
  margin-top: 20px;
  border: 0;
}

.impowerBox .title {
  display: none;
}

.impowerBox .info {
  display: none;
}

.status_icon {
  display: none;
}

.impowerBox .status {
  text-align: center;
}
